<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: black">
    <div class="toast-header">
      <strong class="mr-auto">Bootstrap</strong>
      <small class="text-muted">just now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      See? Just like this.
    </div>
</div>

<div class="card text-center">
   <div class="card-body">
     <div class="card-title">Subscirbe to my feed</div>
     <div class="card-text">
       <form [formGroup]="form" (submit)="onSubscribeClick()">
         <input type="email" class="form-control" placeholder="example@example.com" formControlName="email">
         <button type="submit" class="btn btn-success">Subscribe</button>
       </form>
     </div>
   </div>
 </div>



